# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# HTML report (pytest-html)
reports/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
